
<h3>
  User : {{$tweet.$profileService.username}}
    <md-button ng-click="$tweet.followuser($tweet.$profileService.username)" ng-hide="$tweet.checkfollower() || $tweet.$profileService.username===$tweet.$authenticate.username">
      Follow
    </md-button>
    <md-button ng-click="$tweet.unfollowuser($tweet.$profileService.username)" ng-hide="!$tweet.checkfollower() || $tweet.$profileService.username===$tweet.$authenticate.username">
      Unfollow
    </md-button>
</h3>
<md-list flex="">
  <div class="md-list-item-text" layout="column">
    <md-divider></md-divider>
    <md-list-item ng-repeat="item in $tweet.gettweets()" ng-click="null">
      <p>Posted: {{ item.posted | date:'medium' }}</p>
      <p>{{item.content}}</p>
    </div>
  </md-list-item>
</md-list>


<!-- <md-button ng-click="$search.$searchService.likeTweet(item)" ng-hide="item.liked">like</md-button>
              <md-button ng-click="$search.$searchService.unlikeTweet(item)" ng-show="item.liked">unlike</md-button> -->
