<md-card>
  <md-card-actions>
    <md-input-container flex>
      <label>First Name</label>
      <input type="text" ng-model="$log.firstName"/>
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input type="text" ng-model="$log.lastName"/>
    </md-input-container>
    <md-input-container flex>
      <label>Username</label>
      <input type="text" ng-model="$log.username"/>
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input type="text" ng-model="$log.password"/>
    </md-input-container>
    <md-input-container flex>
      <label>Email</label>
      <input type="text" ng-model="$log.email"/>
    </md-input-container>
    <md-input-container flex>
      <label>Phone</label>
      <input type="text" ng-model="$log.phone"/>
    </md-input-container>
    <md-button >Create</md-button>
  </md-card-actions>
</md-card>
