<div class="menubarContainer">
  <md-toolbar class="toolbar" layout="row">
    <div class="md-toolbar-tools">

      <md-button class="homeButton" ng-click="$menubar.home()">
        <i class="material-icons" layout="fill" >home</i>
      </md-button>

      <md-menu>
      <md-button class="md-icon-button" ng-click="$menubar.openMenu($mdOpenMenu, $event)">
        <i class="material-icons">person</i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="$menubar.viewProfile()">
            <i class="material-icons">perm_identity</i>
            View profile
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$menubar.editProfile()">
            <i class="material-icons">edit</i>
            Edit profile
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="$menubar.logout()">
            <i class="material-icons">directions_run</i>
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      <span flex></span>
      <svg width="200" height="200">
        <g>
          <polygon class="tweetButton" ng-click"$menubar.tweet()" stroke="white" fill="rgb(63,81,181)" points="200,50 150,150 50,150 0,50"/>
          <text class="tweetButton tweetIcon material-icons" ng-click="$menubar.tweet()" x="76" y="135" fill="white">&#xE0E1;</text>
        </g>
      </svg>
      <span flex></span>

      <md-button class="md-icon-button searchButton" ng-click="$menubar.search()">
        <i layout="fill" class="material-icons">search</i>
      </md-button>
      <form id="searchInput" autocomplete="off" ng-submit="$menubar.search()">
        <md-input-container md-no-float class="search md-block">
          <input class="searchInput" placeholder=" Search Twitter" type="text" ng-model="$menubar.$searchService.searchText" >
        </md-input-container>
      </form>
    </div>
  </md-toolbar>
</div>
