<div>
  <md-toolbar class="toolbar" layout="row">
    <div class="md-toolbar-tools">

      <md-button class="homeButton">
        <i class="material-icons" layout="fill" >home</i>
      </md-button>

      <span flex></span>
      <md-button class="tweetButton">
          <i class="material-icons" layout="fill">mail_outline</i>
      </md-button>
      <span flex></span>

      <md-button class="md-icon-button" aria-label="More">
        <i layout="fill" class="material-icons">search</i>
      </md-button>
      <md-input-container md-no-float class="search md-block">
        <label>#tag, @mention, username</label>
        <input class="searchInput" type="text" ng-model="$menubar.searchText" >
      </md-input-container>
    </div>
  </md-toolbar>
</div>
