<md-list-item class="md-3-line tweetListItem">
  <div class="md-list-item-text md-whiteframe-3dp tweetListItem whiteBackground" layout="column">
    <div class="tweetHead">
      <div class="author">
        <h2>
          <a href="" ng-click="goToProfile($tweet.tweet.author.username)">
            {{ $tweet.tweet.author.username }}
          </a>
        </h2>
        <p>
          {{ $tweet.tweet.posted | date:'medium' }}
        </p>
      </div>
      <md-button ng-click="$tweet.$tweetService.likeTweet($tweet.tweet)" ng-hide="$tweet.tweet.liked" class="like">Like</md-button>
      <md-button ng-click="$tweet.$tweetService.unlikeTweet($tweet.tweet)" ng-show="$tweet.tweet.liked" class="unlike">Unlike</md-button>
      <md-button ng-click="$tweet.$tweetService.repostTweet($tweet.tweet.id)" class="repost">repost</md-button>
      <md-button ng-click="$tweet.$tweetService.showTweetPrompt($event, $tweet.tweet.id)" class="reply">reply</md-button>
      <md-button ng-click="$tweet.$tweetService.deleteTweet($tweet.tweet)" ng-show="$tweet.tweet.author.username == $tweet.$authenticateService.username" class="unlike">Delete</md-button>
    </div>
    <p compile="$tweet.tweet.content" style="font-size:20px; color:black"></p>
    <div ng-show='$tweet.tweet.inReplyTo'>
      <h3>
        In Reply To:
        <a href ng-click="goToProfile($tweet.tweet.inReplyTo.author.username)">
          {{ $tweet.tweet.inReplyTo.author.username }}
        </a>
        :
        <a href ng-click="null">
          {{ $tweet.tweet.inReplyTo.content }}
        </a>
      </h3>
    </div>
    <div ng-show='$tweet.tweet.repostOf'>
      <h3>
        Repost Of:
        <a href ng-click="goToProfile($tweet.tweet.repostOf.author.username)">
          {{ $tweet.tweet.repostOf.author.username }}
        </a>
        :
        <a href ng-click="null">
          {{ $tweet.tweet.repostOf.content }}
        </a>
      </h3>
    </div>
  </div>
</md-list-item>
