
          <md-list flex="">
            <md-list-item ng-hide="$feed.getFeed()  && $feed.getFeed().length > 0">No results found</md-list-item>
            <md-list-item class="md-3-line" ng-repeat="item in $feed.getFeed()">
              <div class="md-list-item-text" layout="column">
                <md-divider></md-divider>
                <h3 ng-click="null">{{ item.author.username }}</h3>
                <p>{{ item.content }}</p>
                <p>{{ item.posted * 1000 | date:'HH:mm:ss' }}</p>
                <div ng-show='item.inReplyTo'>
                  <h3 ng-click="null">Reply From {{ item.author.username }}</h3>
                </div>
                <div ng-show='item.repostOf'>
                  <h3 ng-click="null">Repost Of {{ item.author.username }}</h3>
                </div>
                </br>
              </div>
            </md-list-item>
          </md-list>
