.pageWidth {
  width: 90vw;
}
  margin-top: 68px;
.searchDial {
  background-size: 100% 100%;

.login-tab {
  background-color: rgba(255, 255, 255, .5);
}

.error {
  color: red;
  font-style: italic;
}
