.pageWidth {
  width: 90vw;
}
  margin-top: 68px;
  .searchDial {
    margin-top: 68px;
  }
.ocean-background {
  background-image: url('./app/global/resources/ocean-background.png');
  background-size: 100% 100%;
}
.login-tab {
  background-color: rgba(255, 255, 255, .5);
}

.fullWidth {
  width: 100vw;
}

.error {
  color: red;
  font-style: italic;
}

.search {
  margin-top: 40px;

}

input[type=text].searchInput {
  background-color: rgb(255, 255, 255);
}

i {
  align-items: center;
  justify-content: center;
}

.tweetButton {
  background-color: rgb(63,81,181);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 140px;
  height: 150%;
}
