<div ng-cloak="" class="tabsdemoDynamicHeight pageWidth pageHeight" ng-app="MyApp" layout = "row">
  <div flex = "20" layout = "column">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Follower">
        <md-content class="md-padding">
          <h1 class="md-display-2">Followers</h1>
        </md-content>
      </md-tab>
      <md-tab label="Following">
        <md-content class="md-padding">
          <h1 class="md-display-2">Following</h1>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<div flex = "60" layout = "column">
  <feed></feed>
</div>
</div>
