<div class="pageWidth pageHeight" layout-padding layout-margin layout = "row">

  <follow layout-align="center center" layout="column" flex="25" layout-fill class="md-padding"></follow>

  <md-content md-dynamic-height md-border-bottom layout-fill >
    <md-tabs class="">
      <md-tab id="tab1">
        <md-tab-label>{{$page.$stateService.currentTab}}</md-tab-label>
        <md-tab-body>
          <ui-view></ui-view>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <!-- INSERT MENTIONS HERE -->
      </md-tab>
    </md-tabs>
  </md-content>
</div>
