<md-content layout-align="center center" layout="column" class="SearchTabs">
  <md-tabs md-dynamic-height md-border-bottom class="login-tab" layout-fill>
    <md-tab id="tab1">
      <md-tab-label>Hashtag</md-tab-label>
      <md-tab-body>
        <md-list flex="">
          <md-list-item ng-hide="$search.$searchService.hashtag.data && $search.$searchService.hashtag.data.length > 0">No results found</md-list-item>
          <md-list-item class="md-3-line" ng-repeat="item in $search.$searchService.hashtag.data">
            <div class="md-list-item-text md-whiteframe-2dp" layout="column">
              <h3 ng-click="null">>{{ item.author.username }}</h3>
              <p>{{ item.content }}</p>
              <p>{{ item.posted * 1000 | date:'HH:mm:ss' }}</p>
              <div ng-show='item.inReplyTo'>
                <h3 ng-click="null">Reply From</h3>
              </div>
              <div ng-show='item.repostOf'>
                <h3 ng-click="null">Repost Of</h3>
              </div>
            </div>
            </br>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
      <md-tab-label>Author</md-tab-label>
      <md-tab-body>
        <md-list flex="">
          <md-list-item ng-hide="$search.$searchService.author.data && $search.$searchService.author.data.length > 0">No results found</md-list-item>
          <md-list-item class="md-3-line" ng-repeat="item in $search.$searchService.author.data">
            <div class="md-list-item-text md-whiteframe-2dp" layout="column">
              <h3 ng-click="null">>{{ item.author.username }}</h3>
              <p>{{ item.content }}</p>
              <p>{{ item.posted }}</p>
              <div ng-show='item.inReplyTo'>
                <h3 ng-click="null">Reply From</h3>
              </div>
              <div ng-show='item.repostOf'>
                <h3 ng-click="null">Repost Of</h3>
              </div>
            </div>
            </br>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab1">
      <md-tab-label>Mentions</md-tab-label>
      <md-tab-body>
        <md-list flex="">
          <md-list-item ng-hide="$search.$searchService.mentioned.data && $search.$searchService.mentioned.data.length > 0">No results found</md-list-item>
          <md-list-item class="md-3-line" ng-repeat="item in $search.$searchService.mentioned.data">
            <div class="md-list-item-text md-whiteframe-2dp" layout="column">
              <h3 ng-click="null">>{{ item.author.username }}</h3>
              <p>{{ item.content }}</p>
              <p>{{ item.posted }}</p>
              <div ng-show='item.inReplyTo'>
                <h3 ng-click="null">Reply From</h3>
              </div>
              <div ng-show='item.repostOf'>
                <h3 ng-click="null">Repost Of</h3>
              </div>
            </div>
            </br>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
