<md-content layout-align="center center" layout="column" class="searchTabs">
  <md-tabs md-dynamic-height md-border-bottom class="loginTab" layout-fill>
    <md-tab id="tab1">
      <md-tab-label>Tweets with Hashtag</md-tab-label>
      <md-tab-body>
        <md-list flex="">
          <md-list-item ng-hide="$search.$searchService.tweets.data && $search.$searchService.tweets.data.length > 0">No results found</md-list-item>
          <md-list-item class="md-3-line" ng-repeat="item in $search.$searchService.tweets.data">
            <div class="md-list-item-text md-whiteframe-2dp" layout="column">
              <h3 ng-click="null">>{{ item.author.username }}</h3>
              <p>{{ item.content }}</p>
              <p>{{ item.posted | date:'medium' }}</p>
              <div ng-show='item.inReplyTo'>
                <h3 ng-click="null">Reply From</h3>
              </div>
              <div ng-show='item.repostOf'>
                <h3 ng-click="null">Repost Of</h3>
                <h3>>{{item.repostOf.author.username}} </h3>
                <p>{{ item.repostOf.content }}</p>
                <p>{{ item.repostOf.posted | date:'medium' }}</p>
              </div>
              <md-button ng-click="$search.$tweetService.likeTweet(item)" ng-hide="item.liked">like</md-button>
              <md-button ng-click="$search.$tweetService.unlikeTweet(item)" ng-show="item.liked">unlike</md-button>
            </div>
            </br>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
      <md-tab-label>Users</md-tab-label>
      <md-tab-body>
        <md-list flex="">
          <md-list-item ng-hide="$search.$searchService.users.data">No results found</md-list-item>
          <md-list-item ng-show="$search.$searchService.users.data" ng-repeat="user in $search.$searchService.users.data"
            <md-button ng-click="$search.userProfile(user.username)">{{ user.username }}</md-button>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab3">
      <md-tab-label>Mentions</md-tab-label>
      <md-tab-body>
        <md-list flex="">
          <md-list-item ng-hide="$search.$searchService.mentioned.data && $search.$searchService.mentioned.data.length > 0">No results found</md-list-item>
          <md-list-item class="md-3-line" ng-repeat="item in $search.$searchService.mentioned.data">
            <div class="md-list-item-text md-whiteframe-2dp" layout="column">
              <h3 ng-click="null">>{{ item.author.username }}</h3>
              <p>{{ item.content }}</p>
              <p>{{ item.posted | date:'HH:mm:ss' }}</p>
              <div ng-show='item.inReplyTo'>
                <h3 ng-click="null">Reply From</h3>
              </div>
              <div ng-show='item.repostOf'>
                <h3 ng-click="null">Repost Of</h3>
                <h3>>{{item.repostOf.author.username}} </h3>
                <p>{{ item.repostOf.content }}</p>
                <p>{{ item.repostOf.posted | date:'HH:mm:ss' }}</p>
              </div>
            </div>
            </br>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
